################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/PrecificatorMVC/PrecificatorMVC/bin
/PrecificatorMVC/PrecificatorMVC/obj/Debug
/PrecificatorMVC/.vs
